{% extends 'base.html' %}

{% block title %}Пользователь{% endblock %}

{% block menu %}
{% endblock %}


{% block content %}
<style>
    .rounded_img {
    width: 60%;
    border-radius: 50%
}
    .post_img {
        width: 80%
    }
</style>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4">
        <div class="mt-5 text-center">
            {% if user_obj.avatar %}
                <img class="rounded_img" src="{{ user_obj.avatar.url }}"  alt="user picture">
            {% endif %}
            <h3>{{ user_obj.username }}</h3>
        </div>
        <div class="mt-5 pt-5 text-center">
            <h5>Публикации</h5>
            <h3>0</h3>
        </div>
        <div class="mt-5 pt-5 text-center">
            <h5>Подписчики</h5>
            <h3>0</h3>
        </div>
        <div class="mt-5 pt-5 text-center">
            <h5>Подписки</h5>
            <h3>0</h3>
        </div>
        <div class="mt-2 text-center">
            <h6>Полное имя</h6>
            <p>{{ user_obj.get_full_name }}</p>
        </div>
        <div class="mt-2 text-center">
            <h6>Электронная почта</h6>
            <p>{{ user_obj.email }}</p>
        </div>
        <div class="mt-2 text-center">
            <h6>Телефон</h6>
            <p>{{ user_obj.phone|default_if_none:"н/у" }}</p>
        </div>
        <div class="mt-2 text-center">
            <h6>Пол</h6>
            <p>{{ user_obj.sex }}</p>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 mt-2">
        <div class="text-center">
            <a href="{% url 'post_add' %}" class="btn btn-success">Добавить публикацию</a>
        </div>
        <div class="text-left">
            <a href="" class="btn btn-dark me-2">Редактировать профиль</a>
            <a href="" class="btn btn-dark me-2">Сменить пароль</a>
            <a href="{% url 'logout' %}" class="btn btn-dark">Выйти из профиля</a>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
        {% for post in posts %}
        <div>
            <img class="post_img" src="{{ post.image.url }}" alt="">
        </div>
        {%  endfor %}
    </div>
    {{ posts }}




  

{% endblock %}