{% extends 'base.html' %}

{% block title %}Пользователь{% endblock %}

{% block menu %}
<ul class="navbar-nav me-auto mt-2 mb-2 mb-lg-0">
    <li class="nav-item">
        <form class="d-flex mt-2" role="search" action="{% url 'search' %}" method="GET">
            {% include 'partial/search_form.html' %}
        </form>
    </li>
</ul>
{% endblock %}

{% block content %}
<style>
    .rounded_img {
    width: 60%;
    border-radius: 50%
}
    .post_img {
        width: 100%
    }
</style>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4">
        <div class="mt-5 text-center">
            {% if user_obj.avatar %}
                <img class="rounded_img" src="{{ user_obj.avatar.url }}"  alt="user picture">
            {% endif %}
            <h3>{{ user_obj.username }}</h3>
        </div>
        <div class="mt-5 pt-5 text-center">
            <h5>Публикации</h5>
            <h3>{{ count }}</h3>
        </div>
        <div class="mt-5 pt-5 text-center">
            <h5>Подписчики</h5>
            <h3>0</h3>
        </div>
        <div class="mt-5 pt-5 text-center">
            <h5>Подписки</h5>
            <h3>0</h3>
        </div>
        <div class="mt-2 text-center">
            <h6>Полное имя</h6>
            <p>{{ user_obj.get_full_name }}</p>
        </div>
        <div class="mt-2 text-center">
            <h6><a href="">Подписаться</a></h6>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 mt-5 text-center">
        {% for post in posts %}
        <div class="my-2">
            <a href="{% url 'post' post.pk %}">
                <img class="post_img" src="{{ post.image.url }}" alt="image">
            </a>
        </div>
        {%  endfor %}
    </div>
{% endblock %}